.card {
  width: 400px;
  height: 275px;
  padding: 20px;
  margin: 7.5rem auto auto auto;
  border: 4px solid #000;
  border-radius: 12px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  perspective: 1000px;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.8s ease-in-out;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  text-align: center;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}