.card {
  width: 400px;
  height: 275px;
  padding: 20px;
  margin: 7.5rem auto auto auto;
  border: 4px solid #000;
  border-radius: 12px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.front {
  text-align: center;
}