
input {
  display: block;
  width: 12%;
  margin: 0 auto;
  margin-top: 3rem;
}

.card {
  width: 400px;
  height: 275px;
  padding: 20px;
  margin: 7.5rem auto auto auto;
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  perspective: 1000px;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  border: 4px solid #000;
  border-radius: 12px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dedede;

  /* These two styles below are 100% important for the flip mechanic. 
    Transition measures and smoothens the speed of the transform element, 
    while the transform style renders the front/back cards in a 3D space.
  */
  transition: transform 0.3s ease-in-out;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  text-align: center;
  backface-visibility: hidden; /* Once styled like a front/back card, this keeps the 
  back content hidden until it flips */ 
}

.back {
  transform: rotateY(180deg);
}

.wrong {
  border: 4px red solid;
}

.correct {
  border: 4px green solid;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}